<% content_for :page_title do %>
  <h1 id="title">About</h1>
<% end %>

<div>test</div>

<span style="color: yellow" id="id_one" class="one">one</span> <span class="two">two</span>

<div>
  <img src="/assets/alex.jpg" alt="Berlin Alexanderplatz" />
</div>

<p>Praesent velit est, <span class="one">sagittis et aliquam nec</span>, consectetur ac leo. Nunc placerat, lacus vitae sodales tincidunt, nisl ipsum semper orci, vel placerat libero magna id urna. Proin et quam tellus. Integer turpis sem, semper a quam id, maximus sollicitudin massa. In rhoncus hendrerit aliquet. Integer a sollicitudin ante. Mauris in velit enim. Maecenas laoreet et ligula vitae posuere. </p>
